.tieude { color: tomato; 
         font-weight: bold; 
         font-size: 22pt;}
.noidung { color: black;
         font-style: normal;
         font-size: 12pt;}
.conterner{
         display: flex;
         flex-direction: column;
         height: 100vh;
}
.header{
         flex:15%;
         back
}
.menu{
         flex:5%;
}
